.nav {
  list-style-type: none;
}

.nav__item {
  display: inline-block;
  position: relative;
  margin-right: 25px;

  @include respond-to('large') {
    margin-right: 35px;
  }

  &:last-child {
    margin-right: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    pointer-events: none;
    mix-blend-mode: color;
  }
}
