* {
  box-sizing: border-box; }

html {
  font-size: 90%; }
  @media (min-width: 768px) {
    html {
      font-size: 95%; } }
  @media (min-width: 992px) {
    html {
      font-size: 100%; } }

body {
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
  overflow-x: hidden; }
  @media (min-width: 992px) {
    body {
      text-rendering: optimizeLegibility; } }

h1,
h2 {
  font-weight: 500; }

a {
  text-decoration: none; }

textarea:focus,
input:focus,
label:focus {
  outline: none; }

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 0 25px; }
  @media (min-width: 768px) {
    .container {
      padding: 0 35px; } }

.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 100px;
  margin-left: -30px; }

.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 35px 0 80px; }

.btn {
  display: inline-block;
  position: relative;
  padding: 20px 40px;
  border: 0;
  outline: none;
  background: none;
  color: #fff;
  font-weight: bold;
  letter-spacing: .08em;
  text-shadow: 0 0 2px #000;
  text-transform: uppercase;
  cursor: pointer; }

.btn--default {
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 15px 25px; }

.input {
  position: relative;
  margin: 1.7em 0; }

.input__field {
  display: block;
  position: relative;
  width: 100%;
  padding: .6em;
  border: 0;
  background: none;
  color: #fff; }
  .input__field::-webkit-input-placeholder {
    opacity: 0; }
  .input__field:-moz-placeholder {
    opacity: 0; }
  .input__field::-moz-placeholder {
    opacity: 0; }
  .input__field:-ms-input-placeholder {
    opacity: 0; }
  .input__field:focus::-webkit-input-placeholder {
    opacity: .55; }
  .input__field:focus:-moz-placeholder {
    opacity: .55; }
  .input__field:focus::-moz-placeholder {
    opacity: .55; }
  .input__field:focus:-ms-input-placeholder {
    opacity: .55; }
  .input__field:focus ~ .input__label .input__svg {
    stroke-dashoffset: 0; }
  .input__field:focus ~ .input__label .input__label-content {
    transform: scale3d(0.8, 0.8, 1) translate3d(0, -2.4em, 0); }

.input__label {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 .6em;
  cursor: text;
  z-index: -1; }

.input__field--textarea {
  height: 300px;
  border: 1px solid transparent;
  overflow-y: scroll;
  resize: none; }

.input__svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale3d(1, -1, 1);
  transition: stroke-dashoffset .35s;
  fill: none;
  pointer-events: none;
  stroke-width: 3px;
  stroke-dasharray: 962;
  stroke-dashoffset: 558; }

.input__label-content {
  display: block;
  position: relative;
  width: 100%;
  padding: .6em 0;
  transform-origin: left center;
  transition: transform .3s; }

.form {
  margin: 25px .8em; }

.grid-item {
  position: relative;
  width: calc(100% - 30px);
  margin-left: 30px;
  padding: 0 10px;
  border-bottom: 1px solid transparent;
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab; }
  @media (min-width: 768px) {
    .grid-item {
      width: calc(50% - 30px); } }
  @media (min-width: 992px) {
    .grid-item {
      width: calc(33.3333% - 30px); } }
  @media (min-width: 1200px) {
    .grid-item {
      width: calc(25% - 30px); } }
  .grid-item::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .25s;
    background: rgba(255, 255, 255, 0.045);
    content: '';
    opacity: 0;
    z-index: -1; }
  .grid-item:hover::before, .grid-item:focus::before {
    opacity: 1; }

.grid-item__btns {
  margin: 10px 0 20px;
  text-align: right;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.grid-item__btn {
  display: inline-block;
  transition: opacity .2s;
  opacity: .5; }
  .grid-item__btn:last-child a {
    padding-right: 0; }
  .grid-item__btn:hover, .grid-item__btn:focus {
    opacity: 1; }
  .grid-item__btn a {
    display: inline-block;
    padding: 0 8px; }
  .grid-item__btn svg {
    pointer-events: none; }

.grid-item__title {
  font-size: 20px;
  font-size: 1.25rem;
  margin: 30px 0 10px; }

.grid-item__title--add {
  margin-top: 45px; }

.grid-item__link {
  font-size: 14px;
  font-size: 0.875rem;
  display: inline-block;
  padding: 10px 0; }
  .grid-item__link:hover, .grid-item__link:focus {
    text-decoration: underline; }

.grid-item__desc {
  min-height: 100px;
  margin: 10px 0 40px; }

.grid-item--add {
  transition: background-color .3s;
  background: rgba(255, 255, 255, 0.25); }
  .grid-item--add:hover, .grid-item--add:focus {
    background: rgba(255, 255, 255, 0.35); }
    .grid-item--add:hover .grid-add-item svg, .grid-item--add:focus .grid-add-item svg {
      fill: rgba(255, 255, 255, 0.95); }

.grid-add-item {
  padding: 125px 0;
  text-align: center;
  cursor: pointer; }
  .grid-add-item svg {
    transition: fill .3s;
    fill: rgba(255, 255, 255, 0.65); }

.nav {
  list-style-type: none; }

.nav__item {
  display: inline-block;
  position: relative;
  margin-right: 25px; }
  @media (min-width: 992px) {
    .nav__item {
      margin-right: 35px; } }
  .nav__item:last-child {
    margin-right: 0; }
  .nav__item::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    pointer-events: none;
    mix-blend-mode: color; }

.page-title {
  position: absolute;
  top: 50%;
  right: -.35em;
  transform: translate3d(50%, -50%, 0) rotate(-90deg);
  transform-origin: center bottom;
  font-size: 250px;
  opacity: .05;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; }
  @media (min-width: 1200px) {
    .page-title {
      opacity: .07; } }

.page--wordpress {
  background: #5384ee; }
  .page--wordpress .nav__item::before {
    background: rgba(83, 132, 238, 0.4); }
  .page--wordpress .grid-item {
    border-top: 1px solid #4168bb; }
    @media (min-width: 768px) {
      .page--wordpress .grid-item:nth-last-child(-n+2) {
        border-bottom: 1px solid #4168bb; } }
    @media (min-width: 992px) {
      .page--wordpress .grid-item:nth-last-child(-n+3) {
        border-bottom: 1px solid #4168bb; } }
    @media (min-width: 1200px) {
      .page--wordpress .grid-item:nth-last-child(-n+4) {
        border-bottom: 1px solid #4168bb; } }
    .page--wordpress .grid-item:last-child {
      border-bottom: 1px solid #4168bb; }
  .page--wordpress .grid-item__link,
  .page--wordpress .input__label {
    color: #273d6e; }
  .page--wordpress .input__svg {
    stroke: #273d6e; }
  .page--wordpress .btn--default {
    background: #314e8c; }
  .page--wordpress .input__field--textarea {
    border-color: #273d6e; }
  .page--wordpress input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #4168bb inset; }
  .page--wordpress .page-title {
    font-size: 288px; }

.page--prestashop {
  background: #55a05a; }
  .page--prestashop .nav__item::before {
    background: rgba(85, 160, 90, 0.4); }
  .page--prestashop .grid-item {
    border-top: 1px solid #3a6d3d; }
    @media (min-width: 768px) {
      .page--prestashop .grid-item:nth-last-child(-n+2) {
        border-bottom: 1px solid #3a6d3d; } }
    @media (min-width: 992px) {
      .page--prestashop .grid-item:nth-last-child(-n+3) {
        border-bottom: 1px solid #3a6d3d; } }
    @media (min-width: 1200px) {
      .page--prestashop .grid-item:nth-last-child(-n+4) {
        border-bottom: 1px solid #3a6d3d; } }
    .page--prestashop .grid-item:last-child {
      border-bottom: 1px solid #3a6d3d; }
  .page--prestashop .grid-item__link,
  .page--prestashop .input__label {
    color: #2c532f; }
  .page--prestashop .input__svg {
    stroke: #2c532f; }
  .page--prestashop .btn--default {
    background: #2c522e; }
  .page--prestashop .input__field--textarea {
    border-color: #2c532f; }
  .page--prestashop input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #3a6d3d inset; }
  .page--prestashop .page-title {
    font-size: 266px; }

.page--joomla {
  background: #d8a62b; }
  .page--joomla .nav__item::before {
    background: rgba(216, 166, 43, 0.4); }
  .page--joomla .grid-item {
    border-top: 1px solid #a57f21; }
    @media (min-width: 768px) {
      .page--joomla .grid-item:nth-last-child(-n+2) {
        border-bottom: 1px solid #a57f21; } }
    @media (min-width: 992px) {
      .page--joomla .grid-item:nth-last-child(-n+3) {
        border-bottom: 1px solid #a57f21; } }
    @media (min-width: 1200px) {
      .page--joomla .grid-item:nth-last-child(-n+4) {
        border-bottom: 1px solid #a57f21; } }
    .page--joomla .grid-item:last-child {
      border-bottom: 1px solid #a57f21; }
  .page--joomla .grid-item__link,
  .page--joomla .input__label {
    color: #584412; }
  .page--joomla .input__svg {
    stroke: #584412; }
  .page--joomla .btn--default {
    background: #7c5f19; }
  .page--joomla .input__field--textarea {
    border-color: #584412; }
  .page--joomla input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #a57f21 inset; }
  .page--joomla .page-title {
    font-size: 360px; }

.page--magento {
  background: #d34f3d; }
  .page--magento .nav__item::before {
    background: rgba(211, 79, 61, 0.4); }
  .page--magento .grid-item {
    border-top: 1px solid #a03c2e; }
    @media (min-width: 768px) {
      .page--magento .grid-item:nth-last-child(-n+2) {
        border-bottom: 1px solid #a03c2e; } }
    @media (min-width: 992px) {
      .page--magento .grid-item:nth-last-child(-n+3) {
        border-bottom: 1px solid #a03c2e; } }
    @media (min-width: 1200px) {
      .page--magento .grid-item:nth-last-child(-n+4) {
        border-bottom: 1px solid #a03c2e; } }
    .page--magento .grid-item:last-child {
      border-bottom: 1px solid #a03c2e; }
  .page--magento .grid-item__link,
  .page--magento .input__label {
    color: #531f18; }
  .page--magento .input__svg {
    stroke: #531f18; }
  .page--magento .btn--default {
    background: #782d23; }
  .page--magento .input__field--textarea {
    border-color: #531f18; }
  .page--magento input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #a03c2e inset; }
  .page--magento .page-title {
    font-size: 328px; }

/*# sourceMappingURL=app.css.map */
