///  Colors
$color-wordpress: #5384ee;
$color-wordpress-primary: #4168bb;
$color-wordpress-secondary: #273d6e;

$color-prestashop: #55a05a;
$color-prestashop-primary: #3a6d3d;
$color-prestashop-secondary: #2c532f;

$color-joomla: #d8a62b;
$color-joomla-primary: #a57f21;
$color-joomla-secondary: #584412;

$color-magento: #d34f3d;
$color-magento-primary: #a03c2e;
$color-magento-secondary: #531f18;

$color-white: #fff;
$color-black: #000;

/// fonts
$roboto: 'Roboto', sans-serif;
$base-font-size: 16px;

/// Media Queries breakpoints
$breakpoints: (
  'x-small': (min-width: 320px),
  'small': (min-width: 480px),
  'medium': (min-width: 768px),
  'large': (min-width: 992px),
  'x-large': (min-width: 1200px),
  'huge': (min-width: 1680px)
);

/// Project Directories
$img-dir: '../img/';

// Others
$grid-gutter: 30px;
